<div class="center">
    <div class="img">
        <img src="assets/img/Igorica.png" alt="Igor Bezanovic">
    </div>
    <div class="info">
        <h4>Author of App: </h4>
        <p><strong>First name: </strong>Igor</p>
        <p><strong>Last name: </strong>Bezanovic</p>
        <p><strong>mail: </strong>igorbezanovic@gmail.com</p>
        <a href="https://www.linkedin.com/in/igor-bezanovic-ab4832201/">Linkedin profile</a><br>
        <a href="https://github.com/IgorBezanovic">GitHub profile</a>
    </div>
</div>
