<div class="container">

<div class="row" >

    <div class="col-4">
        <img width="100%" src="{{card.image}}">

    </div>
    
    <div class= col-8>
        <p><a [routerLink] = "['/graphicCard', card._id]"href="">{{card.title}}</a></p>
        <p>{{card.description}}</p>
        <p>Grade: <b>{{card.grade}}</b></p>
        <button type="button" class="btn btn-success" (click) = "increaseGrade()">+</button>
        
        <button type="button" class="btn btn-danger" (click) = "decreaseGrade()">-</button>


    </div>

    
</div>

</div>