<div class="about">
    <p>
        <strong>Igor Bezanovic</strong>
        <br>
        <br>
        <em>21000 Novi Sad, Serbia,</em><br>
        <em>+381 65 5070761</em><br>
        <em>igorbezanovic@gmail.com</em><br><br>
        To whom it may concern, <br>
        <br>
        <br>
        <span>
            Browsing through your company's website, I came across at very exciting position at your company. I am interested in applying for a Angular Developer position.
        </span>
        <br>
        <br>
        <span>
            For the past four years my primary job was related to work in the swimming club Novi Sad and Red Cross of Vojvodina/Serbia. Working there was a unique experience and I learned a lot, especially when it comes to working with people, tolerance, problem solving and organizational culture. I am proud to say that as a part of the team from the very beginning, we successfully built a trustful relationship with our clients, which helped drive growth and recently made swimming club Novi Sad one of the top 3 swimming clubs in the country.
        </span>
        <br>
        <br>
        <span>
            Although I graduated from the Faculty of Sports and Physical Education (MSc degree), my high school is Mechanical engineering high school – computer construction. My first wish was to enroll in The Military Academy, majoring in computer science, but the path led me differently. During my studies, my work at the Red Cross of Vojvodina taught me about team work, presentation skills, problem solving, field work, communication with a multiethnic population. Also at Red Cross of Vojvodina, I was in charge of processing volunteer statistics and providing assistance in the field, which continued to maintain my passion for computer science.
        </span>
        <br>
        <br>
        <span>
            Two years ago I had an insight into an web development project from a friend who was working as web developer at the time. That reignited my passion and since I often have ideas about various web applications that could save me time, make life easier, include fun, help me organize and express myself I started learning web development (and mobile but sporadic). At first I started learning on my own (with friend’s help) and at start of 2020 I started attending FTN Informatics courses, where I successfully finished basic java programming in June and on 09.december 2020. I successfully finished front-end development course.
            <br>
            <br>
            I am excited to tackle challenges that involve critical thinking, problem solving skills and teamwork. With drive, knowledge and experience I gained in the past two years, I believe I can rapidly grow into a capable Software Developer.
            Sincerely,
        </span>
        <br>
        <br>
        <strong><em>Bezanovic Igor</em></strong>
    </p>
</div>